


@font-face {
  font-family: 'iran_sans_bold';
  src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
  font-family: 'iran_sans_light';
  src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
  font-family: 'iran_sans_medi';
  src: url('../Fonts/iran_sans_medi.woff') format('woff');
}
*{
  font-family:iran_sans_light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}
html{
  font-size: 60%;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background:rgb(192, 192, 208);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
  font-size: 2rem;
  color: #000;
  font-weight: 500;
}
header .navbar a{
  font-size: 1.5rem;
  color: #000;
  margin: 0 2rem;
}
header .navbar a:hover{
  color: orangered;
}
header .icons a{
  font-size: 2rem;
  color: #000;
  margin-left: 1.5rem;
}
header .icons a:hover{
  color: orangered;
}
#menu-bar{
  font-size: 2rem;
  padding: .5rem 1rem;
  border: .1rem solid #000;
  color: #000;
  border-radius: .3rem;
  cursor: pointer;
  display: none;
}

section{
  padding: 2rem 9%;
}
.home{
  padding: 0;
  position: relative;
}

.cridet .box{
  padding: .1rem;
  text-align: center;
}
.cridet .box h3{
  font-size: 2rem;
}

.login{
  width: 50%;
  margin: 20px;
  font-family: 'Roboto Slab', serif;
}
#side1{
  background-color:rgb(75, 68, 68);
  height: 76vh;
  border-radius: 5px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3{
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  margin-top: 200px;
  align-items: center;
  text-align: center;
}
#side1 p{
  color: white;    
  font-weight: bold;
  align-items: center;
  text-align: center;
}
#btn{
  align-items: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}
#btn a{
  text-decoration: none;
  color: white;
}
#side2{
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  align-items: center;
  text-align: center;
}
#side2 h3{
  margin-top: 50px;
  color: #1c1c50;
  font-weight: bold;
}
#side2 .inp{
  margin-top: 32px;
}
#side2 input{
  width: 500px;
  margin-top: 20px;
  height: 36px;
  align-items: center;
}
#side2 p{
  margin-top: 20px;
  cursor: pointer;
}
#side2 .icons i{
  margin-left: 10px;
  cursor: pointer;
}
#login{
  margin-top: 10px;
}
#login button{
  width: 200px;
  height: 32px;
  color: white;
  background-color: #1c1c50;
  border: none;
  font-weight: bold;
}
@media screen and (max-width:992px){
  #side2 input{
      width: 300px;
  }
}
@media screen and (max-width:330x){
  #side2 input{
      width: 200px;
  }
}


ul {
  list-style: none;
  text-align: center;
  }
  ul li {
  display: inline-block;
  position: relative;
  }
  ul li a {
  display: block;
  padding: 20px 25px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  }
  ul li ul.dropdown li {
  display: block;
  margin: 2px 0px;
  background-color: rgb(214, 214, 231);
  }
  ul li ul.dropdown {
  width:auto;
  position: absolute;
  z-index: 999;
  display: none;
  }
  ul li a:hover {
  background:rgb(206, 206, 224);
  }
  ul li:hover ul.dropdown{
  display: block;
  }